<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="/styles/styles.css">
    <link rel="stylesheet"  href="/styles/sign-up.css">
    <title>Message board</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="statement-container">
        <p class="first">Become a Part of the <span>Conversation</span></p>
        <p class="second"> Where your thoughts shape the community.</p>
    </div>
    <main class="main-container">
        <div class="img-container">
            <img src="/img/register-illustration.png">
        </div>
        <div class="form-container">
            <h1>Sign up</h1>
            <% if (errors.length > 0) { %>
                <div class="server-form-error">
                    <% errors.forEach(function(error) { %>
                        <p><%= error.msg %></p>
                    <% }); %>
                </div>
            <% } %>
            <form  method="POST" id="register-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input 
                        type="text" 
                        id="username" 
                        name="username" 
                        class="form-input username" 
                        placeholder="e.g coolMessager" 
                        value="<%= formData ? formData.username : '' %>"
                    >
                    <div class="error-container username-err"></div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                        type="text" 
                        id="email" 
                        name="email" 
                        class="form-input email" 
                        placeholder="e.g email@email.com" 
                        value="<%= formData ? formData.email : '' %>"
                    >
                    <div class="error-container email-err"></div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input 
                        type="password" 
                        id="password" 
                        name='password' 
                        class="form-input password" 
                        value="<%= formData ? formData.password : '' %>"
                    >
                    <div class="error-container password-err"></div>
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">Confirm Password</label>
                    <input 
                        type="password" 
                        id="passwordConfirm" 
                        name="passwordConfirm" 
                        class="form-input passwordConfirm" 
                        value="<%= formData ? formData.passwordConfirm : '' %>"
                    >
                    <div class="error-container passwordConfirm-err"></div>
                </div>
                <input type="hidden" name="formSource" value="signUp">
                <button type="submit" class="btn">Register now</button>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/sign-up-validation.js"></script>
</body>
</html>